body {
    margin-top: 10px;
    font-family: "Source Sans Pro", sans-serif;
}

.home-page {
    max-width: 800px;
}

.home-page .jumbotron {
    padding-top: 5px;
    padding-bottom: 15px;
}

.home-page .jumbotron h1 {
    margin-top: 0;
}

.screenshot {
    max-width: 100%;
}

.nav > li > a {
	padding: 5px;
}

.panel, .list-group {
    margin-bottom: 10px;
}
.panel-heading {
    padding: 5px 10px;
}
.panel-body {
    padding: 5px;
}

.transaction-date, .transaction-amount {
    width: 80px;
}

.filters li {
    display: inline;
}

.filters .label {
    font-size: 85%;
    border-radius: 0;
}

.filter .label {
    cursor: pointer;
}

.filter .label:first-child {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.filter .label:last-child {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.filter-remove {
    margin-left: 0px;
}

.sign-out {
    width: 100%;
    margin-bottom: 10px;
}

.toggle-account-list, .transactions table thead td {
    cursor: pointer;
}

@media (min-width: 768px) {
    .accounts {
        position: fixed;
    }
}